body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(206, 52, 38);
}

a, a:visited, a:hover {
  color: rgb(255, 255, 255);
}

p {
  margin: 0px;
  padding: 8px 0px;
}

input {
  border: 1px solid rgb(255, 255, 255);
  float: left;
  margin: 0px 10px 0px 0px;
}

#wrap {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.small {
  font-size: 12px;
}

.big {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.button a, .button a:visited, .button a:hover {
  display: block;
  background-color: rgb(212, 82, 70);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-decoration: none;
  border-radius: 2px;
  width: 200px;
  margin: auto;
}

@media all and (max-height:400px) and (orientation: landscape) {
  .img-warn {
    float: right;
    margin-left: 5px;
  }

}
