#timer p, p {
  color: rgb(85, 85, 85);
}

#timer {
  text-align: center;
}

#timer p, .btn {
  font-weight: 700;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  max-width: 700px;
  border: 0 solid rgb(48, 48, 48);
  border-radius: 0;
  margin: 0 auto;
}

p {
  font-size: 14px;
  padding: 5px 0px;
}

#timer p {
  font-size: 12px;
}

.btn {
  background-color: #236DA6;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: block;
  line-height: 50px;
  max-width: 275px;
  width: 90%;
}

.container {
  padding: 8px;
}

#blink {
  color: #ff0000;
  padding: 6px;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: .0;
  }
  100% {
    opacity: 1.0;
  }
}

.footer-fixed {
  width: 100%;
  background: rgba(255, 255, 255, .9);
}

@media all and (max-height:600px) {
  .footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  body {
    margin-bottom: 100px;
  }
}

@media all and (max-height:600px) and (orientation: landscape) {
  .header {
    float: right;
    margin-left: 5px;
  }
}
