body {
  background: none repeat scroll 0 0 #181818;
  color: #fff;
  font-family: Tahoma;
  padding: 0;
  margin: 0;
  /*padding-top: 5px;*/
  margin-top: 45px;
  margin-bottom: 45px;
}

body.fullPage {
  cursor: hand;
}

.button {
  border: 1px solid #524D52;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 250px;
  border: 1px solid #34740e;
  border-radius: 8px;
  font-size: 20px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4ba614;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
  background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
  background-image: -o-linear-gradient(top, #4ba614, #008c00);
  background-image: linear-gradient(to bottom, #4ba614, #008c00);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4ba614, endColorstr=#008c00);
}

.button:hover {
  border: 1px solid #224b09;
  background-color: #36780f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
  background-image: -webkit-linear-gradient(top, #36780f, #005900);
  background-image: -o-linear-gradient(top, #36780f, #005900);
  background-image: linear-gradient(to bottom, #36780f, #005900);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#36780f, endColorstr=#005900);
}

.headline {
  color: white;
  font-size: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px
}

.stripes-top_wrapper, .stripes-bottom_wrapper {
  width: 100%;
  background: url('../img/6-stripes.png');
  height: 34px;
  background-size: auto 100%;
  position: fixed;
  left: 0;
  right: 0;
}

.stripes-bottom_wrapper {
  bottom: 0;
}

.stripes-top_wrapper {
  top: 0;
}
